.balloon {
  color: #fff;
  position: relative;
  text-align: center;
  background-color: #ff9bf8;
  border-radius: 100vmax;
  padding: 5px 10px;

  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: #ff9bf8;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  &Text {
    font-size: 12px;
  }
}