.dataContainer {
  button {
    display: block;
    margin-inline: auto;
    font-size: 12px;
    color: #fff;
    border-radius: 100vmax;
    padding: 1px 10px;
    background-color: #ff9bf8;
  }
  &Text {
    font-size: 16px;
    text-align: center;
  }
}