/* Tab.module.scss */
.tabContent {
  width: 100%;
  display: none;
  position: relative;
  z-index: 1;
  padding: 25px;
  background-color: #ffff;
  border: solid 1px #dcdcdc;
  border-top: solid 2px;
  border-top-color: #ff9bf8;
}

.tabCheck {
  display: none;
}


input[type=radio]:checked+label+div.tabContent {
  display: block;
}

.tabLabel {
  font-size: 12px;
  background-color: #dcdcdc;
  color: #fff;
  padding: 5px 16px;
  position: relative;
  z-index: 0;
}

input[type=radio]:checked+.tabLabel {
  background-color: #ff9bf8;
}

[data-theme='dark'] .tabContent {
  background-color: #27272a;
  border: solid #27272a 1px;
  border-top-color: #ff9bf8;
}


